@tailwind base;
@tailwind components;
@tailwind utilities;

.delete-button {
  background-image: url("../public/delete.svg");
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.vertex-box {
  height: 8px;
  width: 8px;
}
.h-edge-container {
  height: 8px;
  width: 36px;
}
.v-edge-container {
  height: 36px;
  width: 8px;
}
.cell-container {
  height: 36px;
  width: 36px;
}
@media (min-width: 768px) {
  .vertex-box {
    height: 10px;
    width: 10px;
  }
  .h-edge-container {
    height: 10px;
    width: 50px;
  }
  .v-edge-container {
    height: 50px;
    width: 10px;
  }
  .cell-container {
    height: 50px;
    width: 50px;
  }
}

.non-existent {
  border-color: rgb(209 213 219); /* gray-300 */
  border-width: 1px;
}
.selected {
  box-shadow: 0 0 4px 3px rgba(254, 230, 138, 1.0);
}

.h-edge-t-default {
  height: 4px;
}
.h-edge-t-ultra-thin {
  height: 1px;
}
.h-edge-t-very-thin {
  height: 2px;
}
.h-edge-t-thin {
  height: 3px;
}
.h-edge-t-thick {
  height: 5px;
}
.h-edge-t-very-thick {
  height: 6px;
}
.h-edge-t-ultra-thick {
  height: 7px;
}

.v-edge-t-default {
  width: 4px;
}
.v-edge-t-ultra-thin {
  width: 1px;
}
.v-edge-t-very-thin {
  width: 2px;
}
.v-edge-t-thin {
  width: 3px;
}
.v-edge-t-thick {
  width: 5px;
}
.v-edge-t-very-thick {
  width: 6px;
}
.v-edge-t-ultra-thick {
  width: 7px;
}

